* {
    box-sizing: border-box;
}

.box {
    width: 350px;
    height: 350px;
    background-color: green;
}

$media-md: 768px;
$media-sm: 576px;
$media-lg: 992px;

header {
    #section01 {
        .container-fluid {
            // height: calc(100vh - 80px);
            height: calc(100vw - 204px);
            max-height: calc(100vh - 204px);
            min-height: calc(100vh - 350px);

            // background-color: gray;
            .title_group {
                height: 100%;
                .title {
                    height: 80%;
                    // background-color: darkseagreen;

                    .title_box {
                        // height: 50%;
                        .title_text {
                            font-size: 58px;
                            // background-color: dimgray;
                            @media (max-width: 1200px) {
                                font-size: 48px;
                            }
                            @media (max-width: 996px) {
                                font-size: 32px;
                            }
                            @media (max-width: 768px) {
                                font-size: 24px;
                            }
                            @media (max-width: 576px) {
                                font-size: 18px;
                            }
                            @media (max-width: 350px) {
                                font-size: 12px;
                            }
                        }
                        // .sec1_line {
                        //     margin-left: 30px;
                        //     width: 52px;
                        //     height: 2px;
                        //     background-color: black;

                        //     @media (max-width: 576px) {
                        //         width: 16px;
                        //     }
                        // }
                        .sub_text {
                            font-size: 24px;
                            position: relative;

                            // @media (max-width: 1200px) {
                            //     font-size: 48px;
                            // }
                            @media (max-width: 996px) {
                                font-size: 20px;
                            }
                            @media (max-width: 768px) {
                                font-size: 16px;
                            }
                            @media (max-width: 576px) {
                                font-size: 14px;
                            }
                            @media (max-width: 445px) {
                                font-size: 9px;
                            }
                            // @media (max-width: 576px) {
                            //     font-size: 9px;
                            // }

                            &::after{

                                content: "";
                                width: 24px;
                                height: 2px;
                                background-color: black;
                                position: absolute;
                                top: 17px;
                                left: -27px;
                                @media (max-width: 996px) {
                                    top: 14px;
                                }
                                @media (max-width: 768px) {
                                    top: 7px;
                                    left: -15px;
                                    width: 12px;
                                }
                            }

                        }
                    }
                }


                .photo {
                    // background-color: darkslategray;
                    height: 80%;
                    position: relative;
                    .swiper-container {
                        width: 100%;
                        height: 300px;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .swiper-slide {
                        background-size: cover;
                        background-position: center;
                    }

                    .gallery-top {
                        height: 100%;
                        width: 100%;
                        @media (max-width: 568px) {
                            height: 85%;
                        }
                    }

                    .gallery-thumbs {
                        height: 15%;
                        width: 370px;
                        box-sizing: border-box;
                        padding: 10px 0;
                        position: absolute;
                        bottom: 64px;
                        left: -328px;

                        @media (max-width: 996px) {
                            // height: 20%;

                            width: 250px;
                            left: -180px;
                        }
                        @media (max-width: 768px) {
                            width: 250px;
                            left: -120px;
                        }

                        @media (max-width: 568px) {
                            width: 100%;
                            left: 0;
                            bottom: -45px;
                            height: 25%;

                        }

                        .swiper-slide {
                            height: 100%;
                            opacity: 0.5;
                        }

                        .swiper-slide-thumb-active {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

main {
    section {
        //固定間距比例
        padding-top: 30px;
        padding-bottom: 30px;

        @media (max-width: $media-lg) {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .row {
            div {
                padding: 20px auto 20px;
            }

            //讓md尺寸時，東西可以水平置中
            .md-center {
                @media (max-width: $media-lg) {
                    display: flex;
                    justify-content: center;
                }
            }

            .lg-center{
                @media (min-width: $media-lg) {
                    display: flex;
                    justify-content: center;
                }

            }

            //讓md尺寸時，東西可以垂直置中
            .md-hight-center {
                @media (max-width: $media-lg) {
                    display: flex;
                    align-items: center;
                }
            }

            // 讓md尺寸時圖片尺寸變成80%
            .md-img-size-80 {
                @media (max-width: $media-lg) {
                    width: 80%;
                }
            }
        }

        // .row div {
        //     // height: 600px;
        //     // border: solid black 1px;
        //     // background-color: aqua;
        // }


        //pd-left20:標題適用
        .section-title {
            padding-left: 20px;
        }

        //給div文字框padding
        .pd-20 {
            padding: 20px;
        }

        .py-50 {
            padding: 50px auto;
        }

        .my-50 {
            margin: 50px auto;
        }

        .div-margin-left {
            margin-left: 20px;
        }
    }
}
