@charset "UTF-8";
.bg-light-gray {
  background-color: #f4f4f4;
}

.bg-gray {
  background-color: #5a5a5a;
}

.color-light-gray {
  color: #f4f4f4;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #202020;
  font-size: 14px;
  line-height: 2.5;
}

body .title-line-height {
  line-height: 1.5;
}

a {
  color: #11b6cc;
}

a:hover, a:active, a:focus {
  color: #11b6cc;
  outline: none;
  text-decoration: none !important;
}

h1 {
  font-weight: 500;
  color: #0a0a0a;
}

h2 {
  font-weight: 500;
  color: #202020;
}

h3 {
  font-weight: 500;
  color: #3a3939;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  color: #5a5a5a;
}

.title-number {
  font-family: "Poiret One", cursive;
  font-size: 28px;
  border-top: #202020 solid 1px;
}

.title-number-div {
  font-family: "Poiret One", cursive;
  font-size: 28px;
}

.title-number-div::before {
  content: "";
  width: 100%;
  height: 0.6px;
  background-color: #202020;
  position: absolute;
  top: 16px;
  left: 0px;
}

.title-number_none_line {
  font-family: "Poiret One", cursive;
  font-size: 28px;
}

.margin-auto {
  margin: auto;
}

.padding-auto {
  padding: auto;
}

.padding-0 {
  padding: 0;
}

@media (max-width: 992px) {
  main section .row .md-center {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  main section .row .md-hight-center {
    display: flex;
    align-items: center;
  }
}

main section img {
  width: 100%;
}

main section .line-hight-mid {
  line-height: 1.2;
}

.auto-justify-content-around {
  display: flex;
  justify-content: space-around;
}

* {
  box-sizing: border-box;
}

h4 {
  line-height: 32px;
}

img {
   max-width: 100%;
}

@media (max-width: 576px) {
  h3 {
    font-size: 16px;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
    line-height: 32px;
  }
}

header .section01 {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 992px) {
  header .section01 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

header .section01 .container-fluid {
  position: relative;
}

header .section01 .container-fluid .swiper_text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.705);
}

header .section01 .container-fluid .swiper_text .text_box {
  height: 20%;
}

@media (max-width: 576x) {
  header .section01 .container-fluid .swiper_text .text_box {
    margin: auto;
  }
}

@media (max-width: 800px) {
  header .section01 .container-fluid .swiper_text .text_box .text_group .title_text {
    font-size: 26px;
    margin-left: 10px;
  }
}

@media (max-width: 576px) {
  header .section01 .container-fluid .swiper_text .text_box .text_group .title_text {
    font-size: 18px;
  }
}

header .section01 .container-fluid .swiper_text .text_box .text_group .sec1_line {
  height: 2px;
  background-color: black;
}

@media (max-width: 576px) {
  header .section01 .container-fluid .swiper_text .text_box .text_group .sec1_line {
    height: 1px;
  }
}

header .section01 .container-fluid .swiper_text .text_box .text_group .sub_text {
  position: relative;
}

header .section01 .container-fluid .swiper_text .text_box .text_group .sub_text::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 32px;
  left: -20px;
}

@media (max-width: 800px) {
  header .section01 .container-fluid .swiper_text .text_box .text_group .sub_text::before {
    top: 16px;
    left: -20px;
  }
}

@media (max-width: 576px) {
  header .section01 .container-fluid .swiper_text .text_box .text_group .sub_text::before {
    width: 14px;
    top: 16px;
    left: 0px;
  }
}

@media (max-width: 800px) {
  header .section01 .container-fluid .swiper_text .text_box .text_group .sub_text {
    font-size: 16px;
    margin-left: 10px;
    line-height: 18px;
  }
}

@media (max-width: 576px) {
  header .section01 .container-fluid .swiper_text .text_box .text_group .sub_text {
    font-size: 9px;
    line-height: 18px;
  }
}

@media (max-width: 375px) {
  header .section01 .container-fluid .swiper_text .text_box .text_group .sub_text {
    line-height: 12px;
  }
}

header .section01 .container-fluid .swiper-container {
  width: 100%;
}

header .section01 .container-fluid .swiper-container .swiper-button-next::after {
  color: darkgray;
}

header .section01 .container-fluid .swiper-container .swiper-button-next::before {
  color: darkgray;
}

header .section01 .container-fluid .swiper-container .swiper-slide {
  height: calc(100vw - 204px);
  max-height: calc(100vh - 204px);
  min-height: calc(100vh - 350px);
  text-align: center;
  font-size: 18px;
  background: white;
  background-position: center;
  background-size: cover;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

header .section01 .header_news .row .news_title_sm {
  display: none;
}

@media (max-width: 576px) {
  header .section01 .header_news .row .news_title_sm {
    display: block;
  }
}

@media (max-width: 576px) {
  header .section01 .header_news .row .news .news_title {
    display: none;
  }
}

header .section01 .header_news .row .news .slash_position {
  position: relative;
}

@media (max-width: 576px) {
  header .section01 .header_news .row .news .slash_position {
    display: none;
  }
}

header .section01 .header_news .row .news .slash_position .slash {
  position: absolute;
  top: 20px;
  left: -44px;
  width: 60px;
  height: 2px;
  background-color: #c4c4c4;
  transform: rotate(108.43deg);
}

@media (max-width: 768px) {
  header .section01 .header_news .row .news .slash_position .slash {
    width: 30px;
  }
}

header .section01 .header_news .row .news .news_content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

header .section01 .header_news .row .news #sec1-link {
  text-decoration: none;
  position: relative;
}

header .section01 .header_news .row .news #sec1-link span {
  font-size: 13px;
  color: black;
}

header .section01 .header_news .row .news #sec1-link .line {
  border-bottom: 1px solid black;
  box-shadow: 0 2px 4px 0 black;
}

header .section01 .header_news .row .news #sec1-link .line2 {
  position: absolute;
  bottom: -4px;
  right: 15px;
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
}

main .section02 {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 992px) {
  main .section02 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

main .section02 .container-fluid {
  margin: 50px 0 50px 0;
}

@media (max-width: 576px) {
  main .section02 .container-fluid {
    margin: 0;
  }
}

main .section02 .container-fluid .photo {
  background-position: center;
  background-size: cover;
}

@media (max-width: 576px) {
  main .section02 .container-fluid .photo {
    margin-bottom: 30px;
  }
}

main .section02 .container-fluid .text .sec02_title_num {
  border-top: 2px solid black;
}

main .section03 .container {
  border-top: 0.5px solid #c4c4c4;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 992px) {
  main .section03 .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

main .section03 .container .sec03_title_num {
  border-top: 2px solid;
}

main .section03 .container .content-margin {
  margin: 50px auto;
}

@media (max-width: 992px) {
  main .section03 .container .content-margin {
    margin: 30px auto;
  }
}

main .section03 .container .row:nth-child(1) {
  padding-top: 100px;
}

@media (max-width: 576px) {
  main .section03 .container .row:nth-child(1) {
    margin-bottom: 30px;
  }
}

main .section03 .container .row:nth-child(1) .box:nth-child(1) {
  height: 250px;
}

main .section03 .container .row:nth-child(1) .box:nth-child(2) {
  height: 200px;
  background-position: center;
  background-size: cover;
}

main .section03 .container .row:nth-child(4) {
  margin: 150px auto;
}

@media (max-width: 576px) {
  main .section03 .container .row:nth-child(4) {
    margin-bottom: 30px;
  }
}

main .section03 .container .row:nth-child(4) .box:nth-child(1) {
  height: 601px;
  background-position: center;
  background-size: cover;
}

main .section03 .container .row:nth-child(4) .box:nth-child(2) {
  height: 250px;
}

main .section03 .container .row #sec3-link {
  text-decoration: none;
  position: relative;
  width: 180px;
  color: black;
}

@media (max-width: 576px) {
  main .section03 .container .row #sec3-link {
    width: 100px;
  }
}

main .section03 .container .row #sec3-link .line {
  border-bottom: 1px solid black;
  box-shadow: 0 2px 4px 0 black;
}

main .section03 .container .row #sec3-link .line2 {
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
}

main .section04 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: gray;
}

@media (max-width: 992px) {
  main .section04 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

main .section04 .sec04_group .sec4-title-number {
  border-top: 2px solid black;
}

main .section04 .sec04_group .col-sub_title {
  text-align: center;
}

main .section04 .sec04_group .swiper2 {
  height: 824px;
}

@media (max-width: 576px) {
  main .section04 .sec04_group .swiper2 {
    height: 300px;
  }
}

main .section04 .sec04_group .swiper2 .swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

main .section04 .sec04_group .swiper2 .swiper-slide {
  background-size: cover;
  background-position: center;
}

main .section04 .sec04_group .swiper2 .gallery-top {
  height: 80%;
  width: 100%;
}

main .section04 .sec04_group .swiper2 .gallery-thumbs {
  height: 20%;
  padding: 10px 0;
}

main .section04 .sec04_group .swiper2 .gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

main .section04 .sec04_group .swiper2 .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

main .section05 {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 992px) {
  main .section05 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

main .section05 .container .sec5-title-number {
  border-top: 2px solid black;
}

main .section05 .container .photo_group .photo {
  height: 438px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid;
}

@media (max-width: 768px) {
  main .section05 .container .photo_group .photo {
    height: 150px;
  }
}

@media (max-width: 576px) {
  main .section05 .container .photo_group .photo {
    height: 150px;
  }
}

main .section05 .container .row #sec5-link {
  text-decoration: none;
  position: relative;
  color: #0a0a0a;
}

main .section05 .container .row #sec5-link .line {
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 4px 0px black;
}

main .section05 .container .row #sec5-link .line2 {
  position: absolute;
  bottom: -4px;
  right: 16px;
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
}

main #section06 .bottom_bg_img {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  background-color: gray;
  background-image: url("../images/首頁底部圖片/美濃加茂市TERRA.jpg");
  padding: 20px auto;
  background-position: center;
  background-size: cover;
  color: white;
}

@media (max-width: 992px) {
  main #section06 .bottom_bg_img {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

main #section06 .bottom_bg_img .text {
  z-index: 1;
}

main #section06 .bottom_bg_img .text h2 {
  color: white;
}

main #section06 .bottom_bg_img .text #sec6-link {
  text-decoration: none;
  position: relative;
  font-size: 13px;
  width: 109px;
  color: white;
}

main #section06 .bottom_bg_img .text #sec6-link .line {
  border-bottom: 1px solid white;
  box-shadow: 0px 2px 4px 0px black;
}

main #section06 .bottom_bg_img .text #sec6-link .line2 {
  position: absolute;
  bottom: -2px;
  right: 16px;
  width: 4px;
  height: 4px;
  border: 1px solid white;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
}

main #section06 .bottom_bg_img .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.404);
}
